<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="a0981ff603054eea9a3c0eae01ad54fc" class="chart-container" style="width:1300px; height:600px;"></div>
    <script>
        var chart_a0981ff603054eea9a3c0eae01ad54fc = echarts.init(
            document.getElementById('a0981ff603054eea9a3c0eae01ad54fc'), 'macarons', {renderer: 'canvas'});
        var option_a0981ff603054eea9a3c0eae01ad54fc = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u5e73\u5747\u503c",
            "legendHoverLink": true,
            "data": [
                37,
                144,
                245,
                270,
                511,
                426,
                396,
                788,
                788,
                1721
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5e73\u5747\u503c"
            ],
            "selected": {
                "\u5e73\u5747\u503c": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value}(\u8bc4\u8bba\u6570\u91cf)"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value}(\u8f6c\u53d1\u6570\u91cf)"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "0-50",
                "50-100",
                "100-150",
                "150-200",
                "200-250",
                "250-300",
                "300-350",
                "350-400",
                "400-450",
                "450\u53ca\u4ee5\u4e0a"
            ]
        }
    ],
    "title": {
        "text": "\u8bc4\u8bba\u4e0e\u8f6c\u53d1\u5173\u7cfb\u56fe"
    }
};
        chart_a0981ff603054eea9a3c0eae01ad54fc.setOption(option_a0981ff603054eea9a3c0eae01ad54fc);
    </script>
</body>
</html>
