<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/vintage.js"></script>

</head>
<body>
    <div id="0c570880f4fc4e0297bd7a6195448649" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0c570880f4fc4e0297bd7a6195448649 = echarts.init(
            document.getElementById('0c570880f4fc4e0297bd7a6195448649'), 'vintage', {renderer: 'canvas'});
        var option_0c570880f4fc4e0297bd7a6195448649 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "pie",
            "name": "\u4e2d\u56fd\u53f0\u6e7e\u7f51",
            "clockwise": true,
            "data": [
                {
                    "name": "\u6587\u5316",
                    "value": 553
                },
                {
                    "name": "\u7ecf\u8d38",
                    "value": 553
                },
                {
                    "name": "\u5a92\u4f53\u4e13\u680f",
                    "value": 35
                },
                {
                    "name": "\u7f51\u53cb\u4e13\u680f",
                    "value": 39
                },
                {
                    "name": "\u4e24\u5cb8\u4e13\u5bb6",
                    "value": 448
                },
                {
                    "name": "\u4e24\u5cb8",
                    "value": 465
                },
                {
                    "name": "\u53f0\u5546",
                    "value": 553
                },
                {
                    "name": "\u90e8\u59d4",
                    "value": 321
                },
                {
                    "name": "\u53f0\u6d77\u65f6\u4e8b",
                    "value": 553
                },
                {
                    "name": "\u7f51\u53cb\u5feb\u8a00",
                    "value": 406
                },
                {
                    "name": "\u6d77\u5ce1\u65f6\u8bc4",
                    "value": 553
                },
                {
                    "name": "\u4e24\u5cb8\u5feb\u8bc4",
                    "value": 556
                }
            ],
            "radius": [
                "50%",
                "70%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": false,
                "position": "center",
                "margin": 8
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6587\u5316",
                "\u7ecf\u8d38",
                "\u5a92\u4f53\u4e13\u680f",
                "\u7f51\u53cb\u4e13\u680f",
                "\u4e24\u5cb8\u4e13\u5bb6",
                "\u4e24\u5cb8",
                "\u53f0\u5546",
                "\u90e8\u59d4",
                "\u53f0\u6d77\u65f6\u4e8b",
                "\u7f51\u53cb\u5feb\u8a00",
                "\u6d77\u5ce1\u65f6\u8bc4",
                "\u4e24\u5cb8\u5feb\u8bc4"
            ],
            "selected": {},
            "show": true,
            "left": "legft",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u53f0\u6e7e\u7f51\u5404\u9879\u6bd4\u91cd",
            "left": "35%",
            "top": "5%",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_0c570880f4fc4e0297bd7a6195448649.setOption(option_0c570880f4fc4e0297bd7a6195448649);
    </script>
</body>
</html>
