<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="06f18ab3c2fc433d85c51d32300ef933" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_06f18ab3c2fc433d85c51d32300ef933 = echarts.init(
            document.getElementById('06f18ab3c2fc433d85c51d32300ef933'), 'white', {renderer: 'canvas'});
        var option_06f18ab3c2fc433d85c51d32300ef933 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#0E6251",
        "#1ABC9C",
        "#3498DB",
        "#154360",
        "#2980B9",
        "#512E5F",
        "#9B59B6",
        "#641E16",
        "#C0392B",
        "#F2D7D5",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5fae\u535a",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    94
                ],
                [
                    "2020-02",
                    128
                ],
                [
                    "2020-03",
                    225
                ],
                [
                    "2020-04",
                    413
                ],
                [
                    "2020-05",
                    211
                ],
                [
                    "2020-06",
                    269
                ],
                [
                    "2020-07",
                    314
                ],
                [
                    "2020-08",
                    470
                ],
                [
                    "2020-09",
                    685
                ],
                [
                    "2020-10",
                    544
                ],
                [
                    "2020-11",
                    802
                ],
                [
                    "2020-12",
                    1313
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u73af\u7403\u7f51",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    null
                ],
                [
                    "2020-02",
                    null
                ],
                [
                    "2020-03",
                    null
                ],
                [
                    "2020-04",
                    479
                ],
                [
                    "2020-05",
                    371
                ],
                [
                    "2020-06",
                    254
                ],
                [
                    "2020-07",
                    251
                ],
                [
                    "2020-08",
                    265
                ],
                [
                    "2020-09",
                    399
                ],
                [
                    "2020-10",
                    481
                ],
                [
                    "2020-11",
                    342
                ],
                [
                    "2020-12",
                    317
                ],
                [
                    "2021-01",
                    84
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4e2d\u56fd\u53f0\u6e7e\u7f51",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    119
                ],
                [
                    "2020-02",
                    255
                ],
                [
                    "2020-03",
                    304
                ],
                [
                    "2020-04",
                    290
                ],
                [
                    "2020-05",
                    205
                ],
                [
                    "2020-06",
                    84
                ],
                [
                    "2020-07",
                    126
                ],
                [
                    "2020-08",
                    181
                ],
                [
                    "2020-09",
                    437
                ],
                [
                    "2020-10",
                    329
                ],
                [
                    "2020-11",
                    375
                ],
                [
                    "2020-12",
                    1132
                ],
                [
                    "2021-01",
                    145
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u77e5\u4e4e",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    3
                ],
                [
                    "2020-02",
                    null
                ],
                [
                    "2020-03",
                    1
                ],
                [
                    "2020-04",
                    1
                ],
                [
                    "2020-05",
                    4
                ],
                [
                    "2020-06",
                    2
                ],
                [
                    "2020-07",
                    2
                ],
                [
                    "2020-08",
                    4
                ],
                [
                    "2020-09",
                    24
                ],
                [
                    "2020-10",
                    45
                ],
                [
                    "2020-11",
                    20
                ],
                [
                    "2020-12",
                    14
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4e2d\u56fd\u65e5\u62a5\u7f51",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    21
                ],
                [
                    "2020-02",
                    21
                ],
                [
                    "2020-03",
                    38
                ],
                [
                    "2020-04",
                    40
                ],
                [
                    "2020-05",
                    25
                ],
                [
                    "2020-06",
                    25
                ],
                [
                    "2020-07",
                    16
                ],
                [
                    "2020-08",
                    29
                ],
                [
                    "2020-09",
                    26
                ],
                [
                    "2020-10",
                    12
                ],
                [
                    "2020-11",
                    129
                ],
                [
                    "2020-12",
                    180
                ],
                [
                    "2021-01",
                    7
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4e2d\u65b0\u7f51",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    450
                ],
                [
                    "2020-02",
                    196
                ],
                [
                    "2020-03",
                    325
                ],
                [
                    "2020-04",
                    234
                ],
                [
                    "2020-05",
                    634
                ],
                [
                    "2020-06",
                    351
                ],
                [
                    "2020-07",
                    290
                ],
                [
                    "2020-08",
                    423
                ],
                [
                    "2020-09",
                    466
                ],
                [
                    "2020-10",
                    526
                ],
                [
                    "2020-11",
                    477
                ],
                [
                    "2020-12",
                    469
                ],
                [
                    "2021-01",
                    250
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4eca\u65e5\u5934\u6761",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    315
                ],
                [
                    "2020-02",
                    255
                ],
                [
                    "2020-03",
                    172
                ],
                [
                    "2020-04",
                    84
                ],
                [
                    "2020-05",
                    85
                ],
                [
                    "2020-06",
                    30
                ],
                [
                    "2020-07",
                    42
                ],
                [
                    "2020-08",
                    36
                ],
                [
                    "2020-09",
                    64
                ],
                [
                    "2020-10",
                    14
                ],
                [
                    "2020-11",
                    3
                ],
                [
                    "2020-12",
                    141
                ],
                [
                    "2021-01",
                    308
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5149\u660e\u7f51",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    189
                ],
                [
                    "2020-02",
                    54
                ],
                [
                    "2020-03",
                    137
                ],
                [
                    "2020-04",
                    72
                ],
                [
                    "2020-05",
                    136
                ],
                [
                    "2020-06",
                    80
                ],
                [
                    "2020-07",
                    78
                ],
                [
                    "2020-08",
                    210
                ],
                [
                    "2020-09",
                    165
                ],
                [
                    "2020-10",
                    449
                ],
                [
                    "2020-11",
                    319
                ],
                [
                    "2020-12",
                    156
                ],
                [
                    "2021-01",
                    96
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u51e4\u51f0\u7f51",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    9
                ],
                [
                    "2020-02",
                    6
                ],
                [
                    "2020-03",
                    5
                ],
                [
                    "2020-04",
                    8
                ],
                [
                    "2020-05",
                    3
                ],
                [
                    "2020-06",
                    3
                ],
                [
                    "2020-07",
                    11
                ],
                [
                    "2020-08",
                    11
                ],
                [
                    "2020-09",
                    19
                ],
                [
                    "2020-10",
                    14
                ],
                [
                    "2020-11",
                    20
                ],
                [
                    "2020-12",
                    23
                ],
                [
                    "2021-01",
                    36
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u65b0\u534e\u7f51",
            "connectNulls": false,
            "symbol": "emptyCircle",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2020-01",
                    11
                ],
                [
                    "2020-02",
                    0
                ],
                [
                    "2020-03",
                    0
                ],
                [
                    "2020-04",
                    0
                ],
                [
                    "2020-05",
                    0
                ],
                [
                    "2020-06",
                    0
                ],
                [
                    "2020-07",
                    0
                ],
                [
                    "2020-08",
                    6
                ],
                [
                    "2020-09",
                    6
                ],
                [
                    "2020-10",
                    0
                ],
                [
                    "2020-11",
                    3
                ],
                [
                    "2020-12",
                    5
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5fae\u535a",
                "\u73af\u7403\u7f51",
                "\u4e2d\u56fd\u53f0\u6e7e\u7f51",
                "\u77e5\u4e4e",
                "\u4e2d\u56fd\u65e5\u62a5\u7f51",
                "\u4e2d\u65b0\u7f51",
                "\u4eca\u65e5\u5934\u6761",
                "\u5149\u660e\u7f51",
                "\u51e4\u51f0\u7f51",
                "\u65b0\u534e\u7f51"
            ],
            "selected": {
                "\u5fae\u535a": true,
                "\u73af\u7403\u7f51": true,
                "\u4e2d\u56fd\u53f0\u6e7e\u7f51": true,
                "\u77e5\u4e4e": true,
                "\u4e2d\u56fd\u65e5\u62a5\u7f51": true,
                "\u4e2d\u65b0\u7f51": true,
                "\u4eca\u65e5\u5934\u6761": true,
                "\u5149\u660e\u7f51": true,
                "\u51e4\u51f0\u7f51": true,
                "\u65b0\u534e\u7f51": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": false,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "#d14a61"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-01",
                "2020-02",
                "2020-03",
                "2020-04",
                "2020-05",
                "2020-06",
                "2020-07",
                "2020-08",
                "2020-09",
                "2020-10",
                "2020-11",
                "2020-12",
                "2021-01"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5404\u5927\u5e73\u53f0\u53f0\u6d77\u5c40\u52bf\u70ed\u5ea6",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_06f18ab3c2fc433d85c51d32300ef933.setOption(option_06f18ab3c2fc433d85c51d32300ef933);
    </script>
</body>
</html>
