<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="547b69083785439f8f74ce5da5138d75" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_547b69083785439f8f74ce5da5138d75 = echarts.init(
            document.getElementById('547b69083785439f8f74ce5da5138d75'), 'light', {renderer: 'canvas'});
        var option_547b69083785439f8f74ce5da5138d75 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u70b9\u8d5e\u6570\u91cf",
            "coordinateSystem": "polar",
            "symbolSize": 4,
            "data": [
                1464,
                0,
                34000,
                5050,
                9843,
                223,
                18011,
                4060,
                61435,
                47025,
                22655,
                1385
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "areaStyle": {
                "opacity": 0
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u70b9\u8d5e\u6570\u91cf"
            ],
            "selected": {
                "\u70b9\u8d5e\u6570\u91cf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "radiusAxis": {
        "type": "category",
        "data": [
            "1\u6708",
            "2\u6708",
            "3\u6708",
            "4\u6708",
            "5\u6708",
            "6\u6708",
            "7\u6708",
            "8\u6708",
            "9\u6708",
            "10\u6708",
            "11\u6708",
            "12\u6708"
        ],
        "scale": false
    },
    "angleAxis": {
        "clockwise": true,
        "max": 100000,
        "scale": false,
        "splitNumber": 5
    },
    "polar": {},
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_547b69083785439f8f74ce5da5138d75.setOption(option_547b69083785439f8f74ce5da5138d75);
    </script>
</body>
</html>
